.comphoto {
    height: 100%;
    width: 42.23%;
    position: absolute;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .comphoto {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body {
      background-image: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 180%), url(comphoto.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
}

.img1 {
    right: 24.16%;
    top: 13.24%;
    left: 49.58%;
    bottom: 38.05%;
    width: 26.24%;
    height: 48.7%;
    position: absolute;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    .img1 {
        left: 5%; 
        right: 35%;
        width: 60%;
    }
}

.img2 {
    right: 64.81%;
    top: 72.31%;
    left: 49.58%;
    bottom: 13.14%;
    width: 13.95%;
    height: 14.53%;
    position: absolute;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .img2 {
        left: 5%; 
        right: 45%;
        width: 50%;
    }
}

.img3 {
    right: 7.44%;
    top: 13.24%;
    left: 84.16%;
    bottom: 70.37%;
    width: 8.38%;
    height: 16.38%;
    position: absolute;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .img3 {
        left: 65%; 
        right: 5%;
        width: 30%;
    }
}

.rectangle {
    position: absolute;
    height: 57.22%;
    width: 31.92%;
    background-color: #fcfcfc;
    left: 55.15%;
    right: 12.91%;
    bottom: 21.29%;
    top: 21.48%;
    border-radius: 2px;
    border: solid 1px #e1e1e1;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .rectangle {
        left: 15% !important; 
        right: 15% !important;
        width: 70%;
    }
}

.logo {
    position: absolute;
    width: 13.69%;
    height: 4.99%;
    right: 27.7%;
    left: 58.59%;
    bottom: 67.22%;
    top: 27.77%;
}

@media only screen and (max-width: 768px) {
    .logo {
        left: 20%;
        right: 50%;
        width: 30%;
    }
}

.text1 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 100%;
    text-align: left; 
    font-stretch: normal; 
    letter-spacing: normal;
    font-style: normal; 
}

.div1 {
    position: absolute;
    height: 6.01%;
    width: 22.23%;
    right: 19.21%;
    left: 58.54%;
    top: 35.09%;
    bottom: 58.88%;
    background-color: transparent; 
}

@media only screen and (max-width: 768px) {
    .div1 {
        left: 20%;
        right: 20%;
        width: 60%;
    }
}

.rectangle2 {
    position: absolute;
    height: 4.53%;
    width: 24.99%;
    background-color: #ffffff;
    left: 58.59%;
    right: 16.4%;
    bottom: 49.9%;
    top: 45.55%;
    border-radius: 2px;
    border: solid 1px #e1e1e1;
}

@media only screen and (max-width: 768px) {
    .rectangle2 {
        left: 20%;
        right: 20%;
        width: 60%;
    }
}

.rectangle3 {
    position: absolute;
    height: 4.53%;
    width: 24.99%;
    background-color: #ffffff;
    left: 58.59%;
    right: 16.4%;
    bottom: 43.05%;
    top: 52.4%;
    border-radius: 2px;
    border: solid 1px #e1e1e1;
}

@media only screen and (max-width: 768px) {
    .rectangle3 {
        left: 20%;
        right: 20%;
        width: 60%;
    }
}

.rectangle4 {
    background-color: #fff; 
    left: 58.9%;
    right: 37.81%;
    bottom: 53.33%;
    top: 44.53%;
    position: absolute;
    height: 2.12%;
    width: 3.28%;
}

@media only screen and (max-width: 768px) {
    .rectangle4 {
        left: 22%;
        right: 63%;
        width: 15%;
    }
}

.text2 {
    width: 1.82%;
    height: 0.92%;
    font-family: Lato;
    font-size: 50%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #717171;
    position: absolute;
    left: 59.58%;
    right: 38.59%;
    bottom: 53.98%;
    top: 45.09%;
}

@media only screen and (max-width: 768px) {
    .text2 {
        left: 22%;
        right: 63%;
        width: 15%;
    }
}

.rectangle5 {
    background-color: #fff; 
    left: 58.9%;
    right: 37.81%;
    bottom: 46.48%;
    top: 51.38%;
    position: absolute;
    height: 2.12%;
    width: 3.28%;
}

@media only screen and (max-width: 768px) {
    .rectangle5 {
        left: 22%;
        right: 63%;
        width: 15%;
    }
}

.text3 {
    width: 1.82%;
    height: 0.92%;
    font-family: "Lato";
    font-size: 50%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #717171;
    position: absolute;
    left: 59.58%;
    right: 38.59%;
    bottom: 47.12%;
    top: 51.94%;
}

@media only screen and (max-width: 768px) {
    .text3 {
        left: 22%;
        right: 63%;
        width: 15%;
    }
}

.text4 {
    font-family: "Lato";
    font-size: 60%;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.84px;
    color: #fff;
    left: 74.73%;
    right: 16.4%;
    bottom: 34.07%;
    top: 60.92%;
    position: absolute;
    background-color: #2769b3;
    padding-top: 0.5%;
    border-radius: 2px;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .text4 {
        left: 60%;
        right: 20%;
        width: 20%;
        padding-top: 3%;
    }
}

.text5 {
    font-family: "Lato";
    font-size: 60%;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #212121;
    position: absolute;
    bottom: 35.83%;
    top: 62.87%;
    right: 35.83%;
    left: 58.59%;
}

@media only screen and (max-width: 768px) {
    .text5 {
        left: 23%;
        right: 60%;
        width: 17%;
        top: 61.87%;
    }
}

